body {
    margin: 0;
}

.main {
    height: 100vh;
    width: 100vw;
    background-color: skyblue;
}

.startScreen {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 300px;
    padding: 30px;
    background-color: darkslategray;
    position: relative;
    left: 40%;
    top: 200px;
}

.hidden {
    display: none;
}

.gameScreen {
    height: 100vh;
    width: 100vw;
    background-color: skyblue;
}

.player {
    height: 100px;
    width: 80px;
    background-image: url(./images/wizard.png);
    position: relative;
    top: 100px;
    left: 50px;
}

.bug {
    height: 60px;
    width: 60px;
    background-image: url(./images//bug.png);
    background-size: cover;
    position: absolute;
    right: 50px;
    top: 50px;
}