body {
    margin: 0;
    background-color: skyblue;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}

.main {
    height: 100vh;
    width: 100vw;
    background-color: skyblue;
}

.startScreen {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 300px;
    padding: 30px;
    background-color: darkslategray;
    position: relative;
    left: 40%;
    top: 200px;
}

.hidden {
    display: none;
}

.gameScreen {
    height: 100vh;
    width: 100vw;
    background-color: skyblue;
}

.player {
    height: 100px;
    width: 80px;
    background-image: url(./images/wizard.png);
    position: relative;
    top: 100px;
    left: 50px;
}

.bug {
    height: 50px;
    width: 50px;
    background-image: url(./images//bug.png);
    background-size: cover;
    position: absolute;
}

#sores {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 15px;
    padding-left: 15px;
    border-bottom: 1px solid black;
}

.fairBall {
    height: 40px;
    width: 40px;
    background-image: url(./images//fire-ball.png);
    background-size: cover;
    position: absolute;
}